.color--red {
    color: #dc322f;
}

.text-overflow {
    overflow: hidden;
    word-break: break-all;

    @include media-breakpoint-up(md) {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
