<footer class="border border-left-0 border-right-0 border-bottom-0 mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                Copyright &copy; {{ 'now' | date('Y') }}
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://github.com/allejo/Roconut">GitHub</a>
                    </li>
                    <li class="list-inline-item ml-4">
                        <a href="{{ path('privacy_policy') }}">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item ml-4">
                        <a href="{{ path('terms_and_conditions') }}">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
