{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Welcome to BZFlag Roconut</h1>

        <p><em>...until I can think of a better name, this is the name.</em></p>

        <h2>What is this?</h2>
        <p>A paste tool for BZFlag users who'd like a place to store/clean <code>/savemsgs</code> logs.</p>

        <h2>How do I use it?</h2>
        <p>Log in with your BZFlag account and start pasting logs.</p>
    </div>
{% endblock %}
