{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Upload New Content</h1>

        <ul>
            <li><a href="{{ path('new_message_log') }}"><code>/savemsgs</code> Log</a></li>
        </ul>
    </div>
{% endblock %}
