{% extends '::base.html.twig' %}

{% block title %}Create New /savemsgs Log{% endblock %}

{% block body %}
    <div class="container">
        <h1>Upload Saved Messages</h1>

        <p>This form is designed to take the contents from your <code>/savemsgs</code> log files. Submit your saved messages and get a link to share with others.</p>

        {% include ':editor:message-log_form.html.twig' with { form: form } %}
    </div>
{% endblock %}
