{% extends '::base.html.twig' %}

{% block title %}Editing "{{ paste.title }}"{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Messages Log</h1>

        {% include ':editor:message-log_form.html.twig' with { form: form } %}
    </div>
{% endblock %}
