{% extends '::base.html.twig' %}

{% block title %}Your Saved Pastes{% endblock %}

{% block body %}
    <div class="container">
        <h1>Saved Public Messages</h1>

        <p>These are your messages that you have uploaded and have saved to your account. You will not see messages not saved to your account</p>

        {% for paste in pastes %}
            <div class="row py-1">
                <div class="col-md-9 text-overflow">
                    <a href="{{ path('show_message_log', {id: paste.id, key: paste.encryptionKey}) }}">{{ paste.title }}</a>
                </div>
                <div class="col-md-3">
                    {{ paste.created | date('M d, Y h:ia') }}
                </div>
            </div>
        {% else %}
            <div class="text-center">
                <p class="mb0">You have no pastes</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
