{% extends '::base.html.twig' %}

{% block title %}Your Saved Pastes{% endblock %}

{% block body %}
    <div class="container">
        <h1>Saved Public Messages</h1>

        {% for paste in pastes %}
            <a href="{{ path('show_message_log', {id: paste.id, key: paste.key}) }}">{{ paste.title }}</a>
        {% endfor %}
    </div>
{% endblock %}
