.console {
    background-color: $color-dark-grey;
    padding: 1rem;
}

.console--wrap {
    pre {
        white-space: pre-wrap;
        word-break: break-all;
    }
}

.console--scroll {
    pre {
        white-space: pre;
    }

    .console__body {
        overflow: auto;
    }
}

.console__body {
    pre {
        color: #ffffff;
        counter-reset: line;
        display: table;
        margin-bottom: 0;
        width: 100%;
    }
}

.console__line {
    counter-increment: line;
    display: table-row;
    width: 100%;

    &::before {
        -webkit-user-select: none;

        border-right: 1px solid #ddd;
        color: #888;
        content: counter(line);
        display: table-cell;
        padding-right: 0.75em;
        text-align: right;
        white-space: nowrap;
        width: 1%;
    }

    & span:nth-of-type(1) {
        padding-left: 0.75em;
    }

    span {
        display: inline-block;
    }
}
