.console {
    background-color: $color-dark-grey;
    padding: 1rem;
}

.console--wrap {
    pre {
        white-space: pre-wrap;
        word-break: break-all;
    }
}

.console--scroll {
    pre {
        white-space: pre;
    }
}

.console__body {
    pre {
        color: #ffffff;
        counter-reset: line;
        margin-bottom: 0;
    }
}

.console__line {
    counter-increment: line;
    display: inline-block;
    margin-left: 3.25em;

    &::before {
        -webkit-user-select: none;

        border-right: 1px solid #ddd;
        color: #888;
        content: counter(line);
        display: inline-block;
        margin-left: -3.75em;
        padding-right: 0.75em;
        position: absolute;
        text-align: right;
        width: 3em;
    }
}
