.console {
    background-color: $color-dark-grey;
    padding: 1rem;
}

.console--wrap {
    pre {
        white-space: pre-wrap;
        word-break: break-all;
    }
}

.console--scroll {
    pre {
        white-space: pre;
    }
}

.console__body {
    pre {
        color: #ffffff;
        margin-bottom: 0;
    }
}
