{% extends '::base.html.twig' %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}
    <div class="container">
        <h1>Terms and Conditions</h1>
        <p><em>This policy is subject to change without notice to its users.</em></p>

        <ul>
            <li>You may upload any text content you would like, so long as the content is not illegal in nature by U.S. laws.</li>
            <li>You accept that there are no guarantees of uptime for this service.</li>
        </ul>
    </div>
{% endblock %}
