{% extends '::base.html.twig' %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}
    <div class="container">
        <h1>Terms and Conditions</h1>
        <p><em>This policy is subject to change without notice to its users.</em></p>

        <p>You may upload any content to this website, so long as:</p>

        <ul>
            <li>the content is legal in nature by U.S. laws.</li>
            <li>the content is is not intended to threaten, harm, abuse, or target an individual or group of individuals.</li>
            <li>
                you respect the type of content that is expected in each upload form.
                <ul>
                    <li>For example, you may not upload code snippets if the page is intended to be used for chat logs.</li>
                </ul>
            </li>
            <li>you accept that there are no guarantees of uptime for this service.</li>
        </ul>
    </div>
{% endblock %}
