{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mb-3">Supported Login Systems</h1>

        <a href="{{ login_url }}" class="btn btn-primary">Login with BZFlag Forums</a>
    </div>
{% endblock %}
